@use 'sass:map';
@use '../fonts/' as fonts;

$fonts: (
    'inter': fonts.$font-inter,
);

$font-body: map.get($fonts, 'inter');

//Sizes
$font-sm: 11px;
$font-md: 21px;
$font-lg: 31px;
$font-xl: 41px;
$font-2xl: 51px;
$font-3xl: 62px;

//Weights
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;
