.align-items-center {
    align-items: center;
  }
  
  .align-item-end {
    align-items: flex-end;
  }
  
  .w-75 {
    width: 75%;
  }
  
  .text-left {
    text-align: left !important;
  }
  
  .float-left {
    float: left;
  }

  .text-center {
    text-align: center !important;
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
  
  .text-strong {
    font-weight: 700;
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
  
  .text-right {
    text-align: right !important;
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }

  .d-flex {
    display: flex;
  }
  
  .d-inline-flex {
    display: inline-flex;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-row-reverse {
    flex-direction: row-reverse;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-column-reverse {
    flex-direction: column-reverse;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }